<!doctype html>
<html>
  <head>
    <nav class="nav">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About <%= shopData.shopName %></a></li>
        <li><a href="/flights/search">Search for flights</a></li>
        <li><a href="/flights/addflight">Add a new flight destination</a></li>
        <li><a href="/flights/list">List flights</a></li>
        <li><a href="/flights/bargainflights">Bargain flights</a></li>
        <li><a href="/users/register">Register with us</a></li>
        <li><a href="/users/listusers">List of registered users</a></li>
        <li><a href="/users/login">Login page</a></li>
        <li><a href="/users/logout">Logout</a></li>
        <li><a href="/weather">Weather</a></li>
      </ul>
    </nav>
    <title>Add flight to <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body> 
  <h1><%=shopData.shopName%>: Add flight</h1>

  <div class="form-container2">
    <!--Add flight form-->
    <form method="POST" action="/flightadded">
      
      <!-- Flight Name Input -->
      <p>
        Flight destination name: 
        <input id="name" type="text" name="name" value="<%= formData && formData.name ? formData.name : '' %>" />
        <% if (errors) { %>
          <% let nameError = errors.find(error => error.param === 'name'); %>
          <% if (nameError) { %>
            <span style="color: red;"><%= nameError.msg %></span>
          <% } %>
        <% } %>
      </p>

      <!-- Price Input -->
      <p>
        Price: 
        <input id="price" type="text" name="price" value="<%= formData && formData.price ? formData.price : '' %>" />
        <% if (errors) { %>
          <% let priceError = errors.find(error => error.param === 'price'); %>
          <% if (priceError) { %>
            <span style="color: red;"><%= priceError.msg %></span>
          <% } %>
        <% } %>
      </p>

      <!-- Submit Button -->
      <input type="submit" value="Add Flight" />
    </form>
  </div>
  </body>
</html>


 